node_modules
.next
dist
.git
.env
.env.local
.env.production
*.log
.turbo
coverage
.vscode
.idea
.DS_Store
Thumbs.db
apps/web/.next
apps/api/dist
*.db
*.db-journal
screens
*.html
*.mjs
!apps/**/*.mjs
